body{
    background-image: url(img/dark.jpg);
    background-size: cover;
}



.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}
html,body{
    height: 100%;
    overflow-y:hidden ;
    overflow-x: hidden;
}
header{
    height: 200px;
    padding: 20px 0;
}
.logo{
    width: 50%;

}
.menu{
    width: 50%;
    text-align: right;
}
.menu a{
    color: black;
    text-decoration:none;
    font-weight: bold;
    margin-right: 15px;

}
section.sobre{
    height: calc(100% - 200px);
    position: relative;
}
.extra{
    position:absolute;
    bottom: -450px;
    right: -500px;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background-color: orangered;
}
.social-media{
    position: absolute;
    left: 110px;
    top: 200px;

}
.social-media img{
    width: 100px;
}
.texto{
    margin-top: -120px;
}
.texto h1{
    font-size: 50px;
}
.texto p{
    margin:20px 0;
    color: black;
    font-size: 14px;
    font-weight: bold;

}
.texto button{
    border: 0;
    background-color: orangered;
    color: white;
    border-radius: 8px;
    width: 80px;
    height: 30px;
}

